version: '3.9'
services:
  wgportal:
    image: wgportal/wg-portal:master@sha256:c40ac1aa42adeeaaa4070286bbd6da31075a90156f19c8efbb40aaee7f3649bf
    hostname: wgportal
    container_name: wgportal__wgportal
    restart: unless-stopped

    cap_add:
      - NET_ADMIN

    network_mode: "host"

    volumes:
      - type: bind
        source: /etc/wireguard
        target: /etc/wireguard

      - type: volume
        source: wgportal_data
        target: /app/data

      - type: bind
        source: ./config.yml
        target: /etc/config.yml
        read_only: true

    environment:
      WG_PORTAL_CONFIG: /etc/config.yml
     
    deploy:
      resources:
        limits:
          memory: 512m


  cloudflared:
    image: cloudflare/cloudflared:2026.1.2@sha256:e9bcb2ef08d25632ff74344e73a025f4f4bf12718335b196fa0e670cacace8c5
    hostname: cloudflared
    container_name: wgportal__cloudflared
    restart: unless-stopped

    command: tunnel run --token ${TUNNEL_TOKEN}

    network_mode: "host"

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  wgportal_data:
    name: wgportal__wgportal_data
