version: '3.9'
services:
  wgportal:
    image: wgportal/wg-portal:master@sha256:b693cc24b5965a91e40eda16570bf0a1c46571d59c6f75bf51a7dcb4684823d2
    hostname: wgportal
    container_name: wgportal__wgportal
    restart: unless-stopped

    cap_add:
      - NET_ADMIN

    network_mode: "host"

    volumes:
      - type: bind
        source: /etc/wireguard
        target: /etc/wireguard

      - type: volume
        source: wgportal_data
        target: /app/data

      - type: bind
        source: ./config.yml
        target: /etc/config.yml
        read_only: true

    environment:
      WG_PORTAL_CONFIG: /etc/config.yml
     
    deploy:
      resources:
        limits:
          memory: 512m


  cloudflared:
    image: cloudflare/cloudflared:2025.10.1@sha256:21f3607baf2384c54d592b0efe76dd5f548c0dbc083e62fa22c7fac3923d077f
    hostname: cloudflared
    container_name: wgportal__cloudflared
    restart: unless-stopped

    command: tunnel run --token ${TUNNEL_TOKEN}

    network_mode: "host"

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  wgportal_data:
    name: wgportal__wgportal_data
